:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}


body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

h1,
h2 {
  margin-top: 0;
  text-align: center;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

header{
  min-height: 100vh;
  background-image: url(/img/blue-splash.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: var(--orange);
  font-size: 1.5rem;
  text-shadow: 2px 2px white;
 }

nav{
  width: 100%;
  height: 8%;
  background-color: var(--green);
  position:fixed;
  opacity: 0.8;
  z-index: 1;
   }

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  
  }

nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  }
  
nav li:hover:nth-child(even) {
  transform: scale(1.5) rotate(-5deg);
}
nav ul li:hover:nth-child(odd) {
  transform: scale(1.5) rotate(5deg);
}

section{

}

.obstacles{
  background-color: var(--orange);
  padding: 3rem 0;
}

.obstacles article{
  background-color: var(--green);
  margin: 0 2rem;
  text-align: center;
  border-radius: 5%;
}
.obstacles a,
.prizes a{
text-decoration: none;
color: white;
}

.obstacles article:hover{
  background: var(--yellow);
  color: var(--orange);
}

.prizes{
  background-color: var(--green);
  padding: 3rem ;
  }

.prizes img{
  width:80%;
  height: auto;
  }
  
.prizes article{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: dashed var(--yellow) 2px;
  padding-top: 1rem;
}

.prizes article:hoover img{
  transform: rotate(80);
}

.apply{
  padding: 3rem 0;
}

.apply img{
  width: 100%;
}

#username,
#email{
  background-color: var(--orange);
  border-radius: 8%;
  padding: 1rem 0.5rem;
  color: white;
  font-weight: bold;
  display: flex;
}
.apply button{
  background-color: var(--yellow);
  border-radius: 8%;
  padding: 1rem 1rem;
  margin: 1rem 0;
  }

footer{
  background-color: var(--yellow);
  text-align: center;
  padding: 0 1rem;
  color: black;
}
@media (min-width: 640px) {
.grid{
  display: flex;
  gap: 1.5rem;
}

.grid article{
  flex: 1;
}
}